@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.scroll-wrapper {
    perspective: 1px;
    transform-style: preserve-3d;
}

.font-dancing {
    font-family: 'Dancing Script', cursive;
}

@keyframes sparkle-animation {
    0% { transform: scale(1) rotate(0deg); opacity: 0.5; }
    50% { transform: scale(1.2) rotate(180deg); opacity: 1; }
    100% { transform: scale(1) rotate(360deg); opacity: 0.5; }
}

.sparkle-overlay::before, .sparkle-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://lh3.googleusercontent.com/d/1Ytc9sI9WQVa8bmP_oYWFuFE3RjtNM-3G');
    background-size: 500px;
    pointer-events: none;
    opacity: 0.5;
}

.sparkle-overlay::before {
     animation: sparkle-animation 60s linear infinite;
}

.sparkle-overlay::after {
    animation: sparkle-animation 80s linear infinite reverse;
    animation-delay: -10s;
}

@keyframes pulse-scale {
    from { transform: scale(1); }
    to { transform: scale(1.05); }
}

.animate-pulse-scale {
    animation: pulse-scale 1.5s infinite alternate;
}

@keyframes fade-in-up {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in-up {
    animation: fade-in-up 1.5s ease-out forwards;
}

/* --- Estilos del botón de música --- */
.music-control-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 40; /* Debajo de la intro, pero encima de todo lo demás */
    width: 50px;
    height: 50px;
    background-color: rgba(176, 98, 179, 0.8);
    color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(5px);
}

.music-control-button:hover {
    background-color: rgba(142, 74, 145, 1);
    transform: scale(1.1);
}